# Automatically build, run unit and integration tests to detect errors early (CI provided by GitHub)
# including making pull requests review easier

# Human readable name in the actions tab
name: Rust

# For all branches on push and pull requests
on:
  - push
  - pull_request

env:
  # Enable colors
  CARGO_TERM_COLOR: always

jobs:
  # Job id
  build_and_test:

    # Environment image
    runs-on: ubuntu-latest

    steps:
      # Pull repo
      - uses: actions/checkout@v2

      # Cache compilation
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo

      # Build
      - name: Build
        run: cargo build --verbose

      # Unit Tests
      # Use colors for test output too, not only for cargo itself specified by the environment variable
      # See: https://github.com/rust-lang/cargo/issues/1983
      - name: Run tests
        run: cargo test --verbose -- --color always
